#attractions a {
	cursor: pointer;
}

.cn-container{
	width: 100%;
	/* min-width: 300px; */
	/* max-width: 1000px; */
	margin: 10px  0 ;
	text-align: left;
	position: relative;
	/* height: 97vh; */
}
#attaslide .title{
	height: auto;
}
.attaa {
	height: 30%;
	margin: auto;

}
.cn-container h2{
	font-family: 'Barlow Semi Condensed', Helvetica, Arial, sans-serif;
	position: absolute;
	z-index: 1000;
	text-shadow: 0 0 1px rgba(255,255,255,0.8), 1px 1px 1px rgba(0,0,0,0.2);
	line-height: 80px;
	top: 0px;
	left: 10%;
	margin: 0 auto;
	justify-content: center;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 0.3s linear 0.4s;
	-moz-transition: all 0.3s linear 0.4s;
	-o-transition: all 0.3s linear 0.4s;
	-ms-transition: all 0.3s linear 0.4s;
	transition: all 0.3s linear 0.4s;
}
/* .cn-container .cn-slide:target h2{
	right: 0px;
	opacity: 1;
} */
#attractions>div>h2 {
	font-size: 1.5em;
}
.cn-container .atsee h2{
	/* right: 0px; */
	opacity: 1;
}
.cn-slide{
	text-align: center;
	position: absolute;
	left: -100%;
	padding-top: 20px;
	margin: 0 0%;
	margin-top: 0%;
	width: 85%;
	height: 90vh;
	opacity: 0;
	-webkit-transition: left 0.4s linear, opacity 0.4s linear;
	-moz-transition: left 0.4s linear, opacity 0.4s linear;
	-o-transition: left 0.4s linear, opacity 0.4s linear;
	-ms-transition: left 0.4s linear, opacity 0.4s linear;
	transition: left 0.4s linear, opacity 0.4s linear;
}
.nava {
	margin-top: 10%;
}
#attaslide {
	width: 100%;
}
/* .cn-slide:target{
	left: 0px;
	opacity: 1;
} */

.atsee{
	left: 0px;
	opacity: 1;
}
.cn-slide .nava a{
	text-align: left;
	display: block;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	border: 8px solid #fff;
	padding: 2%;
	font-size: 66px;
	font-weight: bolder;
	letter-spacing: 3px;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.9);
	color: rgba(255,255,255,0.1);
	line-height: 66px;
	/* margin: 0 0 10px 0; */
	outline: none;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #fff url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%;
	background-clip: padding-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-size: cover;
	height: 30%;

}
.cn-slide .nava a:hover{
	box-shadow: 1px 3px 7px rgba(0,0,0,0.25);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.9);
}
.cn-slide-sub .nava a{
	width: 30%;
	/* height: 100%; */
	display: inline-block;
	font-size: 20px;
	height: 30%;
}
.cn-slide-sub .nava a:nth-child(odd){
	margin-right: 5px;
}
/* Main Items */
.cn-slide .nava a[href="#slide-1"]{
	background-image: url(../images/1.jpg);
}

/* Items and sub-items of slide 1*/
#attaslidep1,
#slide-1-1 .cn-content {
	background-image: url(../images/1.jpg);
}
#attaslidep2,
#slide-1-2 .cn-content {
	background-image: url(../images/2.jpg);
}
#attaslidep3,
#slide-1-3 .cn-content {
	background-image: url(../images/3.jpg);
}
#attaslidep4,
#slide-1-4 .cn-content {
	background-image: url(../images/4.jpg);
}
#attaslidep5,
#slide-1-5 .cn-content {
	background-image: url(../images/5.jpg);
}

.cn-content{
	background: #80B8CE url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	text-align: left;
	padding: 20px 20px 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	border: 8px solid #fff;
	margin-top: 45px;
	cursor: pointer;
}
.cn-content:active p{
	opacity: 0;
}
.cn-content p{
	line-height: 24px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
	color: rgba(103,59,77,0.9);
	padding: 15px 20px;
	margin-bottom: 10px;
	background: rgba(255,255,255,0.96);
	font-style: italic;
	border-top: 7px solid rgba(103,59,77,0.6);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cn-back{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(../images/larrow.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 22px;
	left: -100px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
}
/* .cn-slide:target .cn-back{
	left: 3px;
	opacity: 1;
} */

.atsee .cn-back{
	left: 3px;
	opacity: 1;
}
.cn-note{
	text-align: right;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	padding: 10px;
	display: block;
	font-family: Arial;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

@media screen and (max-width: 1060px){
	.cn-slide-sub .nava a{
		font-size: 20px;
	}
}
@media screen and (max-width: 900px){
	.cn-container h2{
		line-height: 95px;
		/* font-size: 2em; */
	}
	.cn-slide .nava a{
		font-size: 15px;
		height: 40%;
		justify-content: center;
	}
	.cn-slide-sub .nava a{
		width: 88%;
		font-size: 20px;
		display: block;
	}
	.cn-slide-sub .nava a:nth-child(odd){
		margin-right: 0px;
	}
}
@media screen and (max-width: 750px){
	.cn-slide-sub .nava a{
		width: 80%;
	}
	.cn-container h2{
		line-height: 95px;
		font-size: 5vw;
	}
}
