#gallery li {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#gallery li:hover {
transform: scale(1.5);
z-index: 5;
-webkit-box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);
box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);




}



#gallery  li:active {
transform: scale(1.5);
z-index: 5;
-webkit-box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);
box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);

}


#gallery  li:focus {
transform: scale(1.5);
z-index: 5;
-webkit-box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);
box-shadow: 0px 0px 77px 27px rgba(0,0,0,0.72);

}



#gallh, #gallp{
  position: absolute;
  z-index: 9;
  background-color: rgba(0,0,0,0.8);

  margin: 0;
  color: white;
/*
  text-shadow: 0px 0px 77px 27px rgba(255,255,255,0.72);
  */


	text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.8);



}
#gallh {
font-size: 2em;
top: 15%;
padding: 10px 30px;
}

#gallp {
top: 35%;
font-size: 0.8em;
padding: 8px 5px;

}
#gallp strong {
color: white;
font-size: 1.2em;
}

section {
  /* padding: 0; */
  height: 100vh;
  width: 100vw;
}


/* Slit */
.ss-style-slit {
	padding-top: 5em;
}

.ss-style-slit::before,
.ss-style-slit::after {
	width: 50.5%;
	width: -webkit-calc(50% + 10px);
	width: -moz-calc(50% + 10px);
	width: calc(50% + 10px);
	height: 160px;
	background: pink;
	top: -160px;
}

.ss-style-slit::before {
	left: -20px;
	-webkit-transform: skewX(10deg);
	transform: skewX(10deg);
	box-shadow: -10px -20px darken(black, 8%);
}

.ss-style-slit::after {
	right: -20px;
	-webkit-transform: skewX(-10deg);
	transform: skewX(-10deg);
	box-shadow: 10px -20px darken(green, 8%);
}
